extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 I'm Jason.
		p Welcome to my site!
		hr

		if user && user.canAccessKeystone
			p Welcome back. Remember to always put up new content, and keep projects updated.
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open Admin UI
		hr

		h2 About Me
		p This and that.


		h2 Work
		p I currently work at The Portal as a Project Manager.
