extends ../layouts/default

block content
	.container: .jumbotron
		.row
			.col-md-3.col-sm-12
				img(src='/images/profile.jpg').image-div-center
			.col-md-1
			.col-md-8.col-sm-12
				h2	About
				p I graduated from the University of California, Irvine in 2016 with a bachelors degree in Computer Game Science.
				p	During my time at school, I spent my extracurricular time developing games, learning from failure, and experiencing what game production felt like.
				p	With my computer science background, experience with project management, and my everlasting admiration for the game industry, I aspire to make great games / develop good software.
				p	I seek to learn and contribute to a development team to build something I could not ever dream of doing alone.




				h2	Work
				p I currently work at The Portal as a Project Manager.
				p	The Portal is a small web/app development consulting firm.
				p	I work with our customers to understand their need, and translate them into stories for our development team.
				p	A general workday consists of client meetings, verifying issue completion, documentation of processes on Confluence, and story creation on JIRA.

				h2	Interests
				p	In my free time, I'm experiencing new technologies and learning more about the web and game development space.
				p	I'm currently experimenting with Keystone.js (made this website with it), working on a visual novel in Unity2D with a friend, and developing a social geolocation application and gamifying it.
				p	I enjoy late brunch on Sunday, brew my own coffee, and have exhausted all of Spotify's late night jazz playlists.




		// Admin Greeting Message
		if user && user.canAccessKeystone
			hr
			p Welcome back. Remember to always put up new content, and keep projects updated.
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open Admin UI
			hr
