extends ../layouts/default

block content
	.container: .jumbotron
		.row
			.col-md-3.col-sm-12
				img(src='https://placeholdit.imgix.net/~text?txtsize=23&bg=ffffff&txtclr=000000&txt=250%C3%97250&w=250&h=250').image-div-center
			.col-md-1
			.col-md-8.col-sm-12.image-div-center
				h2 About
				p [PLACEHOLDER] Jason graduated from the University of California, Irvine in Spring 2016 with a bachelors degree in Computer Game Science.


				h2 Work
				p [PLACEHOLDER] Jason currently works at The Portal as a Project Manager.


		// Admin Greeting Message
		if user && user.canAccessKeystone
			hr
			p Welcome back. Remember to always put up new content, and keep projects updated.
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open Admin UI
			hr
