extends ../layouts/default

block content
	.container: .jumbotron
		.row
			.col-md-3.col-sm-12
				img(src='/images/profile.jpg').image-div-center
			.col-md-1
			.col-md-8.col-sm-12
				h2	About
				p Jason graduated from the University of California, Irvine in Spring 2016 with a bachelors degree in Computer Game Science.


				h2	Work
				p Jason currently works at The Portal as a Project Manager. He works closely with customers to understand their needs, and translates them into technical requirements for the development team.

				h2	Interests
				p	Jason enjoys experimenting with the latest technologies and learning more about the web and game development space.




		// Admin Greeting Message
		if user && user.canAccessKeystone
			hr
			p Welcome back. Remember to always put up new content, and keep projects updated.
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open Admin UI
			hr
