extends ../layouts/default

block content
	.container: .jumbotron
		.row
			.col-md-3.col-sm-12
				img(src='/images/profile.jpg').image-div-center
			.col-md-1
			.col-md-8.col-sm-12
				h2	About Me

				p	I'm hungry to learn and improve. There is always something new to see, and something I can better myself at. 
				p	I drive projects to completion with the support of my teams, and the approval of my clients and customers.
				p	I ensure communication happens. I shoot for an email inbox 0, drive technical calls, and initiate in-person meetings.
				p	I write documentation, develop tools, do quality assurance, move boxes, and do what needs to be done to get the job DONE.

				h2 Education / Background

				p 	I graduated from the University of California, Irvine in 2016 with a bachelors degree in Computer Science.
				p	I'm a US Citizen, currently located in Southern California (Irvine).


				h2  My Mission
				p	I seek to learn, contribute, and be part of an engineering team to build large, scalable systems.
				p	With my technical background, project management experience, I aspire to develop great products.



				h2	Current Work
				p	I'm a Sales Engineer at ID TECH Products. I work with our customers and partners to implement secure payment solutions in a timely manner.
				p	I provide technical documentation, drive product improvements, write / review code, and collaborate with customer engineering teams.
			

		// Admin Greeting Message
		if user && user.canAccessKeystone
			hr
			p Welcome back. Remember to always put up new content, and keep projects updated.
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open Admin UI
			hr
