extends ../layouts/default

block content
	.container: .jumbotron
		h1	Projects

		// Repeat to show all the projects

		each project in data.projects
			.container.project-listing
				// Project Title
				.row.project-title
					.col-md-6.project-name-display
						if user && user.canAccessKeystone == true
							p=	project.displayName + "( " + project.name + " )"
						else
							p= project.displayName
					.col-md-6.project-date-completion
						if project.isComplete == true
							p=	moment(project.startDate).format("MMMM YYYY") + " to " + moment(project.endDate).format("MMMM YYYY")
						else
							p=	"In-Progress since: " + moment(project.startDate).format("MMMM YYYY")

					// Project Information
				.row
					// Project Image
					.col-md-3.col-sm-12
						img(src=project.imgUrl).image-project-listing
					// Add spacing
					.col-md-1.col-sm-12
					// Project Information
					.col-md-8
						.row
							.col-md-12.col-sm-12
								b	Brief Description:
								p= project.descShort
							.col-md-12.col-sm-12
								b	My Role:
								p= project.role
							.col-md-12.col-sm-12
							// Temporary placeholder while we get the rest of the page wrapped up | button.btn.btn-default(type='button') Learn More!
				br
				br
