extends ../layouts/default

block content
	.container: .jumbotron
		p This is Jason's project page. Work is (clearly) in progress.
		.row
			.col-md-6.col-sm-12
				h2 Past Work
				.row
					.col-md-6
						p	test
					.col-md-6
						p	test
			.col-md-6.col-sm-12
				h2 Ongoing Work
				.row
					.col-md-6
						p	test
					.col-md-6
						p	test
