extends ../layouts/default

block content
	.container: .jumbotron
		h1	Projects

		// Repeat to show all the projects

		each project in data.projects

			.container.project-listing
				// Project Title
				.row.project-title
					.col-md-12.col-sm-12.project-name-display
						if user && user.canAccessKeystone == true
							p=	project.displayName + "( " + project.name + " )"
							if project.isComplete == true
									p=	moment(project.endDate).format("MMMM YYYY")
								else
									p=	"In-Progress since: " + moment(project.startDate).format("MMMM YYYY")
						else
							p= project.displayName
					
					// Project Information
				.row.image-project-container
					// Project Image
					.col-md-4.col-sm-12.image-project-column
						img(src=project.imgUrl).image-project-listing
					// Project Information
					.col-md-8
						.row
							.col-md-12.col-sm-12
								b	Brief Description:
								p= project.descShort
							.col-md-12.col-sm-12
								b	My Role:
								p= project.role
							.col-md-12.col-sm-12
							// Temporary placeholder while we get the rest of the page wrapped up | button.btn.btn-default(type='button') Learn More!
				br
				br
