#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

// Style that can be applied to center any image.
.image-div-center {
	display: block;
  position: relative;
  margin: 0 auto;
	width: 100%;
	max-height: 300px;
}

// Style of the project listing row container
.image-project-container {
	position: relative;
  min-height: 250px;
}

// Style of the project listing image's column
.image-project-column {
    // top: 5%;
}

// Style of the project listing image
.image-project-listing {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 5px;
}



// Todo: Refactor and create a style guide

// Applies the theme color to background to the jumbotrons that are used throughout, overriding bootstrap for the time being
.jumbotron {
	background-color: #B5B2C2
}

// Applies the theme color to headers texts that are used throughout, overriding bootstrap for the time being

h1, h2, h3, h4, h5 {
	color: #5A7D7C;
}

// Style applying to project listings.

// Controls the background of a projects listing
.project-listing {
	background-color: #DADFF7;
	margin-bottom: 15px;
	border-radius: 15px;

}

// Controls the project list title container
.project-title {
	background-color: #232C33;
	margin-bottom: 10px;
}

// Controls the project list title p text
.project-title p {
	color: #A0C1D1;
	margin-top: 2px;
}

.project-title .project-name-display {
	// font: bold;
}

.project-title .project-date-completion {
	text-align: right;
}
